.Banner-link {
  text-align: center;
  margin: 0 auto;
  color: white;
  text-decoration: none;
}

.Banner-link:hover {
  color: rgb(189, 186, 186);
}

.Banner-socialMedia a {
  float: right;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.7rem;
}

.Banner-socialMedia a:hover {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: scale(1.2);
  color: #fff;
}
