.Contact {
  color: white;
  text-align: center;
  max-width: 100%;
  margin: 50px;
}

/* Form */
.Contact-form {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.Contact .form-control {
  margin: 10px;
  width: 100%;
  display: block;
}

/* Button */
.Contact button {
  border: 1px solid white;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 20%;
  transition: all 200ms ease;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: #0f1624;
  margin: 0.5rem;
}

.Contact button:hover {
  background: white;
  border: 1px solid white;
  color: black;
}

.Contact-submit {
  color: white;
  margin-top: 40px;
}
