.Details-info {
  margin-right: 10px;
}

.Details a {
  text-decoration: none;
  color: white;
}

.Details a:hover {
  color: pink;
}

.Details button {
  display: block;
  text-align: center;
  margin: 20px auto;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: 1px 2px 4px black;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: linear-gradient(135deg, grey, rgb(61, 56, 56), grey);
  line-height: 20px;
}
