.Summary section {
  padding: 20px;
  border: 2px solid white;
  box-shadow: 0px 0px 0px white, 0px 2px 6px;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-right: 30px;
  background-color: black;
  color: white;
}

.Summary section:hover {
  transform: scale(1.1);
  transition: 1s;
  box-shadow: 0 6px 20px white, 0 4px 6px white;
}
